@font-face {
  font-family: @my-icon-font-family; /* Project id  */
  src: url('./fonts/iconfont.ttf?t=1780646724638') format('truetype');
}

.my-icon {
  font-family: @my-icon-font-family !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
